singleuser:
  defaultUrl: "/lab"
  storage:
    dynamic:
#you could use different storage classes
#get storage classes with: kubectl get storageclasses.storage.k8s.io 
      storageClass: csi-ceph-ssd-ms1-retain 
hub:
  config:
    Authenticator:
      admin_users:
        - admin
      allowed_users:
        - your_another_non_admin_user
#DummyAuthenticator not for production
    DummyAuthenticator:
      password: insertyourpasswordhereMVeP2VXfr
    JupyterHub:
      authenticator_class: dummy
proxy:
  service:
#if you set loadBalancerSourceRanges, you can access JupyterHub only from ip address from this setting.
#you can set a bunch of IP adresses
#https://zero-to-jupyterhub.readthedocs.io/en/latest/administrator/security.html#restricting-load-balancer-access
    loadBalancerSourceRanges:
      - PLACE_YOUR_IP_HERE
      - PLACE_ANOTHER_YOUR_IP_HERE_OR_REMOVE_THIS_LINE
#EXAMPLE
#      - 91.74.148.161/32
